.remainLine {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 140px;
}

.workingHow {
    font-weight: 700;
    font-size: 33px;
    color: #F17228;
    text-align: center;
    margin-bottom: 71px;
}

.workLine {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.itemsPop {
    font-weight: 700;
    font-size: 33px;
    text-align: center;
    color: #212121;
    margin-top: 120px;
    margin-bottom: 40px;
}

.itemsLine {
    display: flex;
}

.itemsLine {
    padding: 40px;
}

.swiper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.foodLine {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.foodSearch {
    text-align: center;
    font-weight: 700;
    font-size: 33px;
    color: #212121;
    margin: 150px 0 80px 0;
}
.resultRevers{
    display: flex;
    flex-direction: row-reverse;
}